.head {
  font-size: 30px;
  font-weight: bold;
  padding: 20px;
  text-align: center;
}

.detail-container {
  max-width: 900px;
  margin: 4rem auto 1rem 28%;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.08);
}


.pj_name {
  margin: 20px auto;
  text-align: center;
  color: rgb(191, 22, 22);
}

.pj-detail {
  font-size: 17px;
}


.pj-detail p {
  padding-left: 20px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  align-items: flex-start;
}

.pj-detail strong {
  padding-right: 20px;
  width: auto;
}

.pj-content strong {
  color: #5b168c;
  font-weight: 600;
}

/* ----------- Responsive Design ----------- */

/* ถ้าหน้าจอเล็กกว่า 1024px */
@media screen and (max-width: 1024px) {
  .detail-container {
    max-width: 80%;
    padding: 1.5rem;
  }
}

/* ถ้าหน้าจอเล็กกว่า 768px */
@media screen and (max-width: 768px) {
  .detail-container {
    max-width: 90%;
    padding: 1.2rem;
  }

  .pj_name {
    font-size: 22px;
  }

  .pj-detail p {
    padding-left: 10px;
  }
}

/* ถ้าหน้าจอเล็กกว่า 480px */
@media screen and (max-width: 480px) {
  .detail-container {
    width: 95%;
    padding: 1rem;
  }

  .head {
    font-size: 24px;
  }

  .pj_name {
    font-size: 20px;
  }

  .pj-detail {
    font-size: 15px;
  }

  .pj-detail p {
    flex-direction: column;
    padding-left: 5px;
  }
}
